Repository wadackel/files-sync-action: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, oxlint

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

oxlint:
  run: npx oxlint {staged_files}

chore: upgrade pnpm to v10.18.3 and add minimumReleaseAge config
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: refactor npm scripts and remove npm-run-all2
  package.json
  pnpm-lock.yaml
Due: prettier

docs: update actions/create-github-app-token to v2 in README
  README.md
Due: prettier

chore: pin GitHub Actions to commit SHAs
  .github/actions/setup-node/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/commitlint.yaml
  .github/workflows/e2e.yaml
Due: prettier

docs: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Due: prettier

chore: refactor Renovate configuration to JSON5 format
  renovate.json
  renovate.json5
Due: prettier

Notes added by 'git notes add'
  2c7a879da054365c87c0bb8fa08de559f385ed43
Due: none

chore: remove accidentally added dist/package-lock.json
  .gitignore
  dist/package-lock.json
Due: prettier

chore: correct minimumReleaseAge format in Renovate config
  renovate.json5
Due: prettier

chore(deps): update @vercel/ncc to 0.38.4
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.cjs
  package.json
  pnpm-lock.yaml
Due: prettier, oxlint

chore: upgrade vitest from 2.1.8 to 3.2.4
  package.json
  pnpm-lock.yaml
Due: prettier

chore: upgrade Zod to v4 and migrate to zod-validation-error
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package.json
  pnpm-lock.yaml
  src/config.ts
Due: prettier, oxlint

feat: support to sync dot files
  src/main.ts
Due: prettier, oxlint

fix: correct misleading skip log message when no files changed
  src/main.ts
Due: prettier, oxlint

chore: rebuild dist
  dist/index.js
  dist/index.js.map
Due: prettier, oxlint

Notes added by 'git notes add'
  e04152e8b76e48364fa95b62803a1c0cf6381a82
Due: none

chore: apply prettier 3.9.6 formatting
  README.md
Due: prettier

chore: drop import/order rule removed from oxlint
  .oxlintrc.json
Due: prettier

chore: rebuild dist for ncc 0.45.0
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.cjs
Due: prettier, oxlint

chore: rebuild dist for zod-validation-error v5
  dist/index.js
  dist/index.js.map
Due: prettier, oxlint

chore: add vite as explicit devDependency for vitest 4
  package.json
  pnpm-lock.yaml
Due: prettier

chore: rebuild dist for @actions/core v3 and @actions/github v9
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
Due: prettier, oxlint

fix: allow committing only generated dist files
  lefthook.yaml
Due: prettier

Notes added by 'git notes add'
  2a9502aec6c4eb5f601bb02c9a12b543490afb47
Due: none

feat: run the action on the Node 24 runtime
  README.md
  action.yaml
Due: prettier

Notes added by 'git notes add'
  cf47cc4f64ab9420dd905496638a913365e087d3
Due: none

docs: correct action metadata descriptions
  README.md
  action.yaml
Due: prettier

docs: fix broken reference link and typos
  README.md
Due: prettier

docs: sync documented defaults with implementation
  README.md
Due: prettier

docs: document deleted files and merge commit template variables
  README.md
Due: prettier

docs: document inheritance, exclude, cleanup and merge behavior
  README.md
Due: prettier

docs: refresh usage examples and feature list
  README.md
Due: prettier

test: pin the behaviour of merge, template rendering and exclusion
  src/templates.test.ts
  src/utils.test.ts
Due: prettier, oxlint

fix: refresh runtime dependencies to resolve known CVEs
  package.json
  pnpm-lock.yaml
Due: prettier

chore: rebuild dist with refreshed dependencies
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
Due: prettier, oxlint

fix: upgrade deepmerge-ts to v8 to resolve CVE-2026-40345
  package.json
  pnpm-lock.yaml
Due: prettier

Notes added by 'git notes add'
  bf84e6cddf8f178a8265873e97f31620101df830
Due: none

fix: upgrade ejs to v6 to drop the vulnerable jake dependency chain
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/templates.test.ts
Due: prettier, oxlint

chore: rebuild dist with refreshed dependencies
  dist/index.js
  dist/index.js.map
Due: prettier, oxlint

chore: enable Renovate lock file maintenance
  renovate.json5
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,tsx,md,yaml,json,json5}
  oxlint: any of: *.{js,ts,tsx}
